<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ painting?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>Artists: <a [routerLink]="['/artist-details', getArtistSlug()]">{{ painting?.artistName }}</a></p>
  <p *ngIf="painting && (painting.completitionYear !== null)">Compleated: {{ painting?.completitionYear || painting?.year }}</p>
  <img [src]="fullImageUrl(painting ? painting.image : '')">
</ion-content>
