.profile-header {

  ion-icon {
    background: rgba(255, 255, 255, 0.7);
    height: 6em;
    width: 6em;
    padding: 1em;
    border-radius: 50%
  }

  ion-avatar {
    display: inline-block;
    width: 8em;
    height: 8em;
  }

  ion-button {
    display: block;

    .extended {
      --border-radius: 100px;
    }
  }
}

ion-item-divider {
  --background: transparent;
}  