.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ion-avatar {
    margin: 0 0 3rem 0;
    height: 12rem;
    width: 12rem;
  }

  ion-spinner {
    margin: 4rem 4rem 7rem 4rem;
    height: 4rem;
    width: 4rem;
  }
}
