<ion-list lines="full" class="ion-padding-top  ion-no-margin">
  <ion-list-header>
    Style Amount
  </ion-list-header>
  <ion-item class="ion-no-padding">
    <ion-range pin=true [value]="styleAmount" (ionChange)="changeStyleAmount($event)"></ion-range>
  </ion-item>    
</ion-list>
<ion-list lines="full" class="ion-padding-top ion-no-margin">
  <ion-list-header>
    Style Size
  </ion-list-header>
  <ion-item class="ion-no-padding">
    <ion-range pin=true [value]="styleSize" (ionChange)="changeStyleSize($event)"></ion-range>
  </ion-item>
</ion-list>
<ion-button expand="full" fill="clear" (click)=save()>Save</ion-button>
  