ion-item {
  ion-thumbnail {
    position: relative;
    min-width: 100px;
    min-height: 100px;
    margin-bottom: 8px;
    margin-top: 8px;

    ion-button {
      position: absolute;
      top: 4px;
      left: 4px;
      --border-radius: 50%;
      --padding-start: 4px;
      --padding-end: 4px;
      --padding-top: 4px;
      --padding-bottom: 4px;
      --border-width: 3px;
      --border-shadow: 0 0 6px 2px #000000;
      min-height: 28px;
      max-height: 28px;
      min-width: 28px;
      max-width: 28px;

      ion-icon {
        font-size: 96px;
      }
    }
  }

  .container {
    width: 100%;
    margin-right: 8px;
   
    ion-input {
      --padding-top: 0;
      --padding-bottom: 0;
    }
  
    ion-textarea {
      --pading-top: 0;
      font-size: 0.90em;
      color: var(--ion-color-step-600);
    }
  }

  ion-button {
    &.delete {
      color: var(--ion-color-step-500);
      font-size: 0.95em;
      --border-radius: 50%;
      --padding-start: 0;
      --padding-end: 0;
      --padding-top: 0;
      --padding-bottom: 0;
      --border-width: 0;
      --border-shadow: 0 0 4px 1px #000000;
      min-height: 28px;
      max-height: 28px;
      min-width: 28px;
      max-width: 28px;
    }
  }

  ion-reorder {
    padding: 0;
    min-height: 28px;
    max-height: 28px;
    min-width: 28px;
    max-width: 28px;
  }
}

ion-item-divider {
  border: none;
}

.add {
  div {
    min-width: 100px;
    min-height: 100px;
    margin-right: 16px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--ion-color-primary);
    color: var(--ion-text-color);
  }

  ion-label {
    margin-left: 0px;
  }
}
