<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="shuffleImage()" color="dark">
        <ion-icon slot="icon-only" name="shuffle"></ion-icon>
      </ion-button>
      <ion-button (click)="showStyleSettingsPopover($event)" color="dark">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>    
</ion-header>

<ion-content fullscreen scrollX=false scrollY=false>
  <ion-slides class="image" [options]="sliderImageOptions">
    <ion-slide>
      <div class="swiper-zoom-container where-magic-happens">
        <img id="original" 
            (load)="prepareCanvas()"
            [src]="photo" crossorigin="anonymous">
        <canvas id="result" [height]="resultHeight" [width]="resultWidth"></canvas> 
      </div>
    </ion-slide>
  </ion-slides>
  <img id="style"
      (load)="stylize()"
      [src]="selectedStyleIndex !== undefined ? styles[selectedStyleIndex].image : ''"
      crossorigin="anonymous">

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="savePicture()">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer no-border class="ion-padding-bottom ion-padding-top">
  <ion-slides class="thumbnails" [options]="slidesThumbnailsOptions" (ionSlideTap)="onThumbnailTap($event)">
    <ion-slide>
      <div class="more">
        <ion-icon size="large" name="more"></ion-icon>
      </div>
    </ion-slide>
    <ion-slide *ngFor="let style of styles; let styleIndex = index; let last = last" [ngClass]="{ last: last }">
      <img [src]="smallImageUrl(style.image)">
    </ion-slide>
  </ion-slides>
</ion-footer>
