<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/signin"></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>    
</ion-header>

<ion-content>
  <div class="reset-password" *ngIf="!instructionsSent">
    <h1 class="ion-padding-horizontal">
      So, you forgot your password
    </h1>
    <h2 class="ion-padding-horizontal">
      Please enter your registration email and we will send you password reset instructions.
    </h2>
  
    <form *ngIf="!instructionsSent" [formGroup]="resetPasswordForm" (ngSubmit)="loginUser(resetPasswordForm.value)">
      <ion-list lines="none">
        <ion-item class="input">
          <ion-input formControlName="email" type="email" placeholder="Email"></ion-input>
        </ion-item>
        <ng-container *ngFor="let validation of validationMessages.email">
          <div class="error-message"
            *ngIf="resetPasswordForm.get('email').hasError(validation.type) && (resetPasswordForm.get('email').dirty || resetPasswordForm.get('email').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
  
        <ng-container *ngIf="errorMessage !== ''">
          <div class="error-message">{{errorMessage}}</div>
        </ng-container>
      </ion-list>
    
      <ion-button size="large" fill="solid" expand="full" type="submit" [disabled]="!resetPasswordForm.valid">
        Submit
      </ion-button>
    </form>
  </div>

  <div class="reset-password" *ngIf="instructionsSent">
    <h1 class="ion-padding-horizontal">Check your email...</h1>
    <h2 class="ion-padding-horizontal">We sent you an email with password reset instructions.</h2>
    <ion-button size="large" fill="solid" expand="full" (click)="navigateBack()">
      Back to Sign In
    </ion-button>
</div>
</ion-content>
