.with-background-image {
  --background: #123 url("../../assets/images/background_dark.jpg") no-repeat center center / cover;
}

ion-toolbar {
   --background: transperent;
}

ion-slides {
  &.image {
    height: 100%;
  }
}

ion-button {
  &.style {
    min-height: 100px;
    min-width: 120px
  }
}

.where-magic-happens {
  position: relative;

  canvas {
    // position: absolute;
    // top: 0;
    // left: 0;
    height: 250px;
  }
}
