<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>    
</ion-header>

<ion-content fullscreen class="with-background-image">
  <!-- <ion-slides class="image" [options]="sliderImageOptions">
    <ion-slide> -->
      <div class="_swiper-zoom-container">
        <div class="_where-magic-happens">
          <img id="style"
              (load)="stylize()"
              [src]="selectedStyleIndex ? styles[selectedStyleIndex].imgUrl : ''"
              crossorigin="anonymous">
          <img id="original" [src]="photo" crossorigin="anonymous" style="max-width: 320px">
          <canvas id="result" [height]="resultHeight" [width]="resultWidth"></canvas> 
        </div>
      </div>
    <!-- </ion-slide>
  </ion-slides> -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="takePicture()" color="dark">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-slides class="ion-padding" pager="false" [options]="slidesStylesOptions">
    <ion-slide *ngFor="let style of styles; index as styleIndex">
      <ion-button class="style" expand="block" fill="clear" (click)="slideStyleTap(styleIndex)">
        <img [src]="style.imgUrl" crossorigin="anonymous">
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-footer>
